.header {
    height: 50px;
    background: #2269bb;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;

}

.header a[class=”active”] {
text-decoration: none;
    color: azure;
    font-size: 50px;
}
